/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --main-color:rgb(0, 0, 164);
  --main-textcolor:rgb(0, 0, 164);
  --sub-textcolor:black;
  --main-backgroundcolor:white;
}

/*Header + header iconen*/

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
  margin-top: .5em;
}

section.header {
  margin-top: 1em;
  margin-left: .3em;
}

section.header ul li img {
  width: 2em;
  margin-left: .6em;
} 

section.header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

#logo {
  height: 2.3125em;
  margin-left: .1em;
}

/*Nav hamburger*/

nav button {
  width:5em;
  height: 1em;
  background-color:white;
  border:none;
  position:relative;
  top: 0;
  z-index:100;
}

nav button::before {
  color: #0000A4;
  content:"\2630 "; /*code voor hamburger icoon*/
  font-size: 2em;
}

/*Nav UL, gebruik gemaakt van: https://codepen.io/shooft/pen/yLXzvaM*/

nav ul {
  display: grid;
  position:fixed;
  background:white;

  transform:translatex(-100%);
  z-index:50;
  transition:.5s;
  padding-top: 4em;
  padding-left: 1.3em;
  margin-top: 0;
}


nav ul li {
  list-style-type:none;
}

nav a {
  font-size: .8em;
  font-family: 'Arvo', serif;
  font-weight: 400;
  color: var(--sub-textcolor);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

nav a img{
  border-radius: 5em;
  background-color: #F1F6FE;
  padding: .8em;
  width: 3.125em;
  align-items: left;
  margin-right: 1em;
}

nav.toonMenu ul {
  transform:translatex(0%);
  left:0; right:0; top:0; bottom:0;
}

/*input field*/

form {
  padding: 1em;
  background-color: rgb(0, 0, 164);
  align-items: center;
}

input {
  border-radius: 5em;
  border: none;
  width: 80%;
  height: 3em;
  text-align: center;
  font-size: 1em;
  font-family: 'Arvo', serif;
  font-weight: 300;
}

/* Banner */

.banner {
  position: relative;
  background: linear-gradient( to bottom, #f279ab, #ea6097, #de457e);
  width: 100%;
  height: 12em;
}

.banner a img {
  position: absolute;
  width: 2.1875em;
  left: 1.08em;
  bottom: 1em;
 }

.banner h2 {
  position: absolute;
  top: .5em;
  left: 1em;
  font-size: 1.5em;
  font-family: 'Arvo', serif;
  font-weight: 700;
  color: var(--main-textcolor);
}

.banner h3 {
  position: absolute;
  top: 1.6em;
  left: 1em;
  font-size: 1.5em;
  font-family: 'Arvo', serif;
  font-weight: 300;
  color: var(--main-textcolor);
}

/*Alle sections*/
section {
  position: relative;
}

/*catagory + slide*/

.catagory ul{
  display: flex;
  flex-direction: row;
  margin-top:1em;
  margin-bottom: 3em;
  overflow: scroll;
  list-style-type: none;
  align-items: center;
  text-align: center;
}

.catagory li a {
  text-decoration: none;
  color: var(--sub-textcolor);
  font-family: 'Arvo', serif;
}

.catagory li{
  margin-left: 1em;
}

.catagory h2 {
  margin: 1em 1em .2em 1em;
  font-size: 1.125em;
  font-family: 'Arvo', serif;
}

/*Nu trending*/

.aanbevelingen h2 {
  margin: 1em 1em .2em 1em;
  font-size: 1.125em;
  font-family: 'Arvo', serif;
}

.tussentekst {
  text-decoration: none;
  color: #00f;
  font-family: 'Arvo', serif;
  font-weight: 300;
  font-size: .875em;
}

.pijl {
  margin-left: 1em;
  margin-right: .2em;
  width: 11px;
  text-align: center;
}

.aanbevelingen ul{
  display: flex;
  flex-direction: row;
  margin-top:1em;
  margin-bottom: 3em;
  overflow: scroll;
  list-style-type:none;
}

.aanbevelingen li a {
  text-decoration: none;
  color: var(--sub-textcolor);
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: .8em;
}

.aanbevelingen li {
  margin-left: 1em;
}

.aanbevelingen li a p {
  margin-top: 1em;
  color: red;
  font-family: 'Arvo', serif;
  font-weight: 300;
}

.aanbevelingen li a img {
  width: 10em;
}

/*Voordeel en inspiratie*/

.kortingen h2 {
  margin: 1em 1em .2em 1em;
  font-size: 1.125em;
  font-family: 'Arvo', serif;
}

.kortingen ul {
  display: flex;
  flex-direction: row;
  margin-top:1em;
  margin-bottom: 3em;
  overflow: scroll;
  list-style-type: none;
  align-items: center;
  text-align: center;
  overflow: auto;
  list-style-type: none;
  text-align: center;
  margin-bottom: 3em;
}

.kortingen li a {
  text-decoration: none;
  color: var(--sub-textcolor);
  font-family: 'Arvo', serif;
}

.kortingen li{
  margin-left: 1em;
}

.kortingen ul li a img {
  width: 14em;
}

/*Cadeaus sectie*/

.cadeaus h2 {
  margin: 1em 1em .2em 1em;
  font-size: 1.125em;
  font-family: 'Arvo', serif;
}

.cadeaus ul {
  display: flex;
  flex-direction: row;
  margin-top:1em;
  margin-bottom: 3em;
  overflow: scroll;
  list-style-type: none;
  align-items: center;
  text-align: center;
}

.cadeaus li a {
  text-decoration: none;
  color: var(--sub-textcolor);
  font-family: 'Arvo', serif;
}

.cadeaus li {
  margin-left: 1em;
}

.cadeaus a {
  text-decoration: none;
  color: var(--sub-textcolor);
  font-family: 'Arvo', serif;
  font-weight: 400;
}

.cadeaus a img {
  width: 14em;
}

