/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --main-color:rgb(0, 0, 164);
  --main-textcolor:black;
  --sub-textcolor:rgb(0, 0, 164);
  --main-backgroundcolor:white;
  --sub-backgroundcolor:rgb(0, 0, 164);
}

/*Header + header iconen*/

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: .5em;
  margin-top: .2em;
}

.icons {
  margin-top: 1em;
  margin-left: auto;
  margin-right: 1em;
}

.icons img {
  width: 1.7em;
  transition:.4s;
}

.icons img:hover{
  background:#deecff;
  border-radius: 6em;
  padding:.1em;
}

.icons ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap:.4em;
}

a #logo {
  height: 2em;
  transition:.4s;
}

/*animatie logo*/
@keyframes logo-animation {
  0% {
    transform:scale(1);
  }
  50% {
    transform:scale(1.2);
  }
  100% {
    transform:scale(1);
}
}

#logo:hover {
  animation-name:logo-animation;
  animation-duration:2.5s;
  animation-iteration-count:infinite;
}


/*Nav hamburger*/

nav button {
  width:5em;
  height: 1em;
  background-color:transparent;
  border:none;
  position:relative;
  z-index:100;
}

nav button::before {
  color: #0000A4;
  content:"\2630"; /*code voor hamburger icoon, internationaal*/
  font-size: 1.8em;
  cursor: pointer;
}

/*Nav UL, gebruik gemaakt van: https://codepen.io/shooft/pen/yLXzvaM*/

nav ul {
  display: grid;
  position:fixed;
  background:white;
  overflow: auto;

  transform:translatex(-100%);
  z-index:50;
  transition:.6s;
  padding-top: 5em;
  padding-left: 1.3em;

  left:0; right:3em; top:0; bottom:0;
}

nav ul li {
  list-style-type:none;
  margin-bottom:1em;
}

nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-size: .8em;
  font-family: 'Arvo', serif;
  font-weight: 400;
  color: var(--main-textcolor);
  text-decoration: none;
}

nav img{
  border-radius: 5em;
  background-color: #F1F6FE;
  padding: .8em;
  width: 3.5em;
  margin-right: 1em;
}

nav.openMenu ul {
  transform:translatex(0%);
  left:0; right:3em; top:0; bottom:0;
}

/*States of the nav links*/

nav a:hover{
  text-decoration: underline #0000A4;
  }
  
  nav a:focus,
  nav a:active{
    color: var(--sub-textcolor);
    text-decoration: underline #0000A4;
  }

/*input field / search bar*/

form {
  padding: 1em;
  background-color: rgb(0, 0, 164);
}

input {
  border-radius: 5em;
  border: none;
  outline: none;
  appearance: none;
  width: 100%;
  height: 3em;

  text-align: left;
  padding: 1em;
  font-size: 1em;
  font-family: 'Arvo', serif;
  font-weight: 300;
}

/*States of the search bar*/

input::placeholder {
color: var(--sub-textcolor);
opacity: 20%;
}

input[type="search"]{
  padding-left: 4em;
  background-image:url('../images/search.png');
  background-repeat:no-repeat;
  background-size:1.5em;
  background-position:1em center;
}

input:hover{
  background-color:#deecff;
}

input:focus{
  caret-color: var(--sub-textcolor);
}

/* Banner */

.banner {
  position: relative;
  background: linear-gradient( to bottom, #f279ab, #ea6097, #de457e);
  width: 100%;
  height: 12em;
}

.banner img {
  position: absolute;
  width: 2.1875em;
  left: 1.08em;
  bottom: 1em;
  transition: .3s;
 }

.banner img:hover{
  border: solid .2em white;
}

.banner h2 {
  position: absolute;
  top: .5em;
  left: .6em;
  font-size: 1.8em;
  font-family: 'Arvo', serif;
  font-weight: 700;
  color: var(--sub-textcolor);
}

.banner h3 {
  position: absolute;
  top: 1.5em;
  left: .6em;
  font-size: 1.8em;
  font-family: 'Arvo', serif;
  font-weight: 300;
  color: var(--sub-textcolor);
}

/*catagorie-section*/

.catagorie{
  padding: 1em 1em 2em 1em;
  margin-bottom: 1em;
}

.catagorie h2 {
  margin-bottom:1em;
  font-size:1.5em;
  font-family:'Arvo', serif;
}

.catagorie ul{
  display: flex;
  flex-direction: row;
  overflow: auto;
  list-style-type: none;
  align-items: center;
  text-align: center;
}

.catagorie img {
  display: block;
  width: 8em;
  margin-bottom: .5em;
}

.catagorie li a {
  text-decoration: none;
  color: var(--main-textcolor);
  font-family: 'Arvo', serif;
  font-size: 1em;
}

.catagorie li:first-of-type{
  margin-left: 0;
}

.catagorie li{
  margin-left: 1em;
}

/*catagorie a states*/

.catagorie li a:hover {
  text-decoration: underline var(--main-color);
}

.catagorie li a:focus,
.catagorie li a:active{
  color: var(--sub-textcolor);
  text-decoration: underline var(--main-color);
}

/*Nu trending*/

.tussentekst {
  text-decoration: none;
  color: #00f;
  font-family: 'Arvo', serif;
  font-weight: 300;
  font-size:.875em;
}

.pijl {
  margin-right: .2em;
  width: 11px;
  text-align: center;
}

.producten {
  padding: 1em 1em 1em 1em;
  margin-bottom: 1em;
}

.producten h2 {
  margin-bottom: .5em;
  font-size:1.5em;
  font-family: 'Arvo', serif;
}

.producten ul{
  display: flex;
  flex-direction: row;
  overflow: auto;
  list-style-type:none;
  margin-top: 1em;
}

.producten li:first-of-type{
  margin-left: 0;
}

.producten li {
  margin-left: 1em;
}

.producten li a {
  text-decoration: none;
  color: var(--main-textcolor);
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size:1em;
}

.producten p {
  margin-top: 1em;
  color: red;
  font-family: 'Arvo', serif;
  font-weight: 300;
}

.producten li a img {
  display: block;
  width: 10em;
}


/*producten a states*/

.tussentekst:hover{
  text-decoration: underline var(--main-color);
}

.tussentekst:active,
.tussentekst:focus{
  color:var(--sub-textcolor);
  text-decoration: underline var(--main-color);
}

.producten li a:hover{
  text-decoration: underline black;
}

.producten li a:active,
.producten li a:focus{
  color:var(--sub-textcolor);
  text-decoration: underline black;
}

/*Cadeaus sectie*/

.cadeaus {
  padding: 1em 1em 1em 1em;
}

.cadeaus h2 {
  margin-bottom: 1em;
  font-size:1.5em;
  font-family: 'Arvo', serif;
}

.cadeaus ul {
  display: flex;
  flex-direction: row;
  margin-top:1em;
  margin-bottom: 1em;
  overflow: auto;
  list-style-type: none;
  align-items: center;
  text-align: center;
  gap:1em;
}

.cadeaus li a {
  text-decoration: none;
  color: var(--main-textcolor);
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size:1em;
}

.cadeaus img {
  display: block;
  width: 14em;
  margin-bottom: .5em;
}

/*cadeau states*/

.cadeaus li a:hover{
  text-decoration: underline var(--main-color);
}

.cadeaus li a:active,
.cadeaus li a:focus{
  color:var(--sub-textcolor);
  text-decoration: underline var(--main-color);
}

/*Interessant section*/

.interessant{
  position: relative;
  padding: 1em 1em 2em 1em;
  margin-bottom:2em;
}

.interessant h2 {
  margin-bottom: 1em;
  font-size: 1.5em;
  font-family: 'Arvo', serif;
}

.interessant ul {
  display: flex;
  flex-direction: row;
  text-align: left;
  overflow: auto;
  list-style-type: none;
  gap:1em;
}

.interessant li a {
  text-decoration: none;
  color: var(--main-textcolor);
  font-family: 'Arvo', serif;
  font-size:1em;
}

.interessant img {
  display: block;
  width: 20em;
  margin-bottom:.5em;
}

/*interessant states*/

.interessant li a:hover{
  text-decoration: underline var(--main-color);
}

.interessant li a:active,
.interessant li a:focus{
  color:var(--sub-textcolor);
  text-decoration: underline var(--main-color);
}

/*footer > service blok*/

.service{
  padding:1em;
  background-color: var(--sub-backgroundcolor);
}

.service h2{
  margin-top: 1em;
  margin-bottom: 1.3em;
  color: white;
  font-family: 'Arvo', serif;
  font-size:1.5em;
}

.service ul {
  display: flex;
  align-content: center;
  align-items: center;
  text-align:left;
  flex-wrap: wrap;
  color: #fff;
  list-style-type:none;
  margin-bottom: 2em;
}

.service ul li {
  margin-top: 1.5em;
}

.service img {
  flex-direction: row;
  padding: 0em 0em 2.5em 0em;
  float: left;
  width: 4.5em;
  margin-right: 1.5em;
  margin-left:1em;
}

.service a {
  color: white;
}

.service a:hover,
.service a:focus{
  text-decoration: none;
}

.service p {
  font-family: 'Arvo', serif;
  font-size:1em;
  align-content: center;
  align-items: center;
  line-height: 1.2em;
  margin-bottom: .5em;
}

/*footer > social media*/

.socials {
  padding: 2.5em 0em 2.5em 0em;
  border-bottom: 1px solid #e6e6e6;
}

.socials h2{
  font-family: 'Arvo', serif;
  font-size:1.125em;
  margin-bottom: 2em;
  text-align: center;
}

.socials ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials ul li:first-of-type{
  margin-left: 0;
}

.socials ul li {
  list-style-type: none;
  justify-content: center;
  margin-left: 1em;
}

.socials img {
  width:2em;
}

.socials p{
  font-family: 'Arvo', serif;
  font-size: 1em;
  margin-top: 2em;
  text-align: center;
}

.socials p a {
  color: var(--sub-textcolor);
  text-decoration: none;
}

/*socials states*/

.socials p a:hover,
.socials p a:focus,
.socials p a:active{
  text-decoration: underline;
}

.socials img:hover,
.socials img:focus,
.socials img:active{
    background:#deecff;
    border-radius: 6em;
    padding:.01em;
  }

/*beneden logo + voorwaarden text*/

.logo{
  padding: 1.5em 0em 2.5em 0em;
  border-bottom: 1px solid #e6e6e6;
  margin-left: 2em;
  margin-right: 2em;
}

.logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: 15em;
}

.logo p{
  font-family: 'Arvo', serif;
  font-size: .625em;
  text-align: center;
}

.logo a{
  color: var(--sub-textcolor);
  text-decoration: none;
}

.logo a:hover,
.logo a:focus,
.logo a:active{
  text-decoration: underline var(--sub-textcolor);
}

/*Begin pagina 2*/

.banner_mode {
  display: flex;
  flex-direction: column;
  background: linear-gradient( to bottom, #f279ab, #ea6097, #de457e);
  width: 100%;
  height: 35em;
}

.banner_mode h2{
  margin-top: 1em;;
  font-size: 2.2em;
  font-family: 'Arvo', serif;
  font-weight: 900;
  color: var(--sub-textcolor);
  text-align: center;
}

.banner_mode h3 {
  font-size: 1.8em;
  font-family: 'Arvo', serif;
  font-weight: 100;
  color: var(--sub-textcolor);
  text-align: center;
}

.banner_mode img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:1.7em;
  width: 24.5em;
}

/*catagorie mode*/

.catagorie_mode{
padding: 1.5em 1em 2.2em 1em;
}

.catagorie_mode h2{
  margin-top:1em;
  margin-bottom:.5em;
  color: var(--sub-textcolor);
  font-family: 'Arvo', serif;
  font-size: 1.8em;
}

.catagorie_mode > ul{
  margin: 0;
  padding: 0;
  list-style-type:none;
  display: flex;
  flex-direction: row;
  overflow: auto;
  gap:1em;
}

.catagorie_mode li ul{ 
list-style-type: none;
}

.catagorie_mode h3{
  color: var(--sub-textcolor);
  font-family: 'Arvo', serif;
  font-size: 1.5em;
  margin-bottom: .5em;
}

.catagorie_mode ul li a{
  text-decoration: none;
  color: var(--sub-textcolor);
  font-family: 'Arvo', serif;
  font-size: 1em;
  line-height: 2em;
}

/*a mode states*/
ul li a:hover,
ul li a:focus,
ul li a:active{
  text-decoration: underline;
}

/* zoek op product/insta */

.rond-container{
  padding: 1em 1em 2em 1em;
  margin-bottom: 1em;
}

.rond-container h2 {
  color: var(--sub-textcolor);
  font-family: 'Arvo', serif;
  font-size: 1.8em;
  margin-top:1em;
  margin-bottom:.6em;
}

.rond-container ul{
  display: flex;
  flex-direction: row;
  overflow: auto;
  list-style-type: none;
  align-items: center;
  text-align: center;
}

.rond-container img {
  display: block;
  width: 8em;
  margin-bottom: .5em;
  border-radius: 10em;
}

.rond-container li a {
  text-decoration: none;
  color: var(--sub-textcolor);
  font-family: 'Arvo', serif;
  font-size:1em;
}

.rond-container li:first-of-type{
  margin-left: 0;
}

.rond-container li{
  margin-left: 1em;
}

/*rond-container > li a states*/

.rond-container li a:hover {
  text-decoration: underline var(--main-color);
}

.rond-container li a:focus,
.rond-container li a:active{
  color: var(--sub-textcolor);
  text-decoration: underline var(--main-color);
}

/*Trends*/

.trends{ 
  padding: 1.5em 1.5em 1.5em 1.5em;
  background-color:#ffeedd;
  width:auto;
  }


.trends h2{
    color: var(--sub-textcolor);
    font-family: 'Arvo', serif;
    font-size: 1.8em;
    margin-bottom:.5em;
  }

.trends ul{
  margin:0;
  padding:0;
  list-style-type: none;
  display:flex;
  overflow:auto;
  gap:1em;
}

.trends li{
display: flex;
flex-direction: column;
}

.trends img{
  width:20em;
}

.trends h3{
  margin-top:.5em;
  margin-bottom:.2em;
  color: var(--sub-textcolor);
  font-family: 'Arvo', serif;
  font-size: 1.5em;
}

.trends p{
  margin-top:.5em;
  margin-bottom:.5em;
  color: var(--sub-textcolor);
  font-family: 'Arvo', serif;
  font-size: 1em;
  line-height: 1.5em;
}

.subbutton img{
  margin-top:.5em;
  width:2.1875em;
  transition:.3s;
}

.subbutton img:hover,
.subbutton img:focus,
.subbutton img:active{
  border: solid .2em white;
}

/*Nieuwe mode*/
.nieuwemode {
  padding: 1.5em 1.5em 1.5em 1.5em;
  width:auto;
  margin-bottom: 2em;
}

.nieuwemode h2{
  color: var(--sub-textcolor);
  font-family: 'Arvo', serif;
  font-size: 1.8em;
}

.nieuwemode h3{
  color: var(--sub-textcolor);
  font-family: 'Arvo', serif;
  font-weight: 300;
  font-size: 1.8em;
  margin-bottom:.5em;
}

.nieuwemode p {
  max-width: 50em;
  font-family: 'Arvo', serif;
  color:rgb(51, 51, 51);
  font-size:1em;
  line-height: 1.65em;
}

.nieuwemode a{
  color:var(--sub-textcolor);
  text-decoration: none;
}

.nieuwemode a:hover,
.nieuwemode a:focus,
.nieuwemode a:active{
  text-decoration: underline var(--sub-textcolor);
}

/*Responsive elementen*/

@media (min-width:38em){
  body{
    margin:auto;
    width: 38em;
  }

@media (min-width:48em){
  
  body{
  margin:auto;
  width: 48em;
  }

  Header{
    margin-bottom: .5em;
    margin-top: .5em;
  }

  nav button::before {
  font-size: 2.1em;
  }

  a #logo {
    margin-left:.5em;
    height: 2.7em;
  }

  .icons img{
  width:2.3em;
  margin-left:1em;
  }

  /*font-sizes*/

  .banner h2{
    top: .3em;
    left: .5em;
    font-size: 2.3em;
  }

  .banner h3 {
    top: 1.5em;
    left: .5em;
    font-size: 2.3em;
  }

  .banner_mode img{
    margin-top:.33em;
  }

  .catagorie h2,
  .cadeaus h2,
  .producten h2,
  .interessant h2,
  .service h2,
  .socials h2{
    font-size:1.7em;
  }

  .tussentekst {
    font-size:1em;
  }

  /*2e pagina*/

  .banner_mode h2{
    font-size: 2.6em;
    margin-top: 1em;
    text-align: center;
  }
  
  .banner_mode h3 {
    font-size: 2.2em;
    text-align: center;
  }

  .service h2 {
    margin-left: .4em;
  }

  .catagorie_mode h2{
    margin-top:.4em;
  }

  .catagorie_mode h2,
  .trends h2,
  .rond-container h2{
    font-size: 2em;
  }

  .catagorie_mode h3,
  .trends h3 {
    font-size: 1.6em;
  }

  .rond-container img {
    width: 8.1em;
}

}

@media (min-width:64em){
  body{
    margin:auto;
    width: 64em;
  }

  nav a {
    font-size: 1em;
  }  

  Header{
  margin-bottom: .5em;
  margin-top: .5em;
}

  #logo {
    height: 3em;
    margin-left: .1em;
  }

  nav button::before {
    font-size: 2.4em;
  }

  .icons ul li img {
    width: 2.5em;
  } 

/*font-sizes*/

.catagorie h2,
.cadeaus h2,
.producten h2,
.interessant h2,
.service h2,
.socials h2{
  font-size:1.9em;
}

.catagorie li a,
.producten li a,
.cadeaus li a,
.interessant li a,
.service p{
  font-size:1.15em;
}

.tussentekst {
  font-size:1.1em;
}

/*2e pagina*/

.socials p a {
  font-size:.9em;
}

.banner_mode h2{
  margin-top: 1em;
  margin-left: 1.4em;
  font-size: 2.8em;
  text-align: left;
  max-width: 10em;
}

.banner_mode h3 {
  font-size: 2.8em;
  text-align: left;
  margin-left:1.4em;
  max-width: 10em;
}

.banner_mode img{
  margin-right:5em;
  width: 23.4em;
}

.rond-container img {
  width: 10em;
}

.catagorie_mode ul li a,
.trends p,
.rond-container li a {
  font-size: 1.15em
}

.trends p{
  line-height:1.7em;
}

.nieuwemode {
  display: flex;
  flex-direction: row;
}

.nieuwemodetitels {
  display: flex;
  flex-direction: column;
}

.nieuwemodetitels h2{
  font-size: 2em;
}

.nieuwemodetitels h3{
  font-size: 2em;
}

.nieuwemode p {
  margin-left:14em;
  max-width: 32em;
}

}

@media (min-width:75em){
  body{
    margin:auto;
    width: 75em;
  }

  .cadeaus img {
    width:15em;
  }

  /*pagina 2*/

.damesmode img,
.herenmode img,
.meisjesmode img,
.jongensmode img{
  width:15em;
}

.knits p,
.puffers p,
.teddy p{
  max-width: 17.5em;
}

.trends ul{
  gap:3em;
  justify-content: center;
}

.rond-container img {
    width: 12em;
}

.catagorie_mode h2,
.trends h2,
.rond-container h2,
.nieuwemode h2,
.nieuwemode h3 {
  font-size: 2.3em;
}

.nieuwemode p {
  margin-left:23em;
}

.logo p{
  font-size:.8em;
  max-width: 60em;
  margin-left:auto;
  margin-right:auto;
}

.interessant img {
  width: 21em;
}

}
}
