/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --main-color:rgb(0, 0, 164);
  --main-textcolor:rgb(0, 0, 164);
  --main-backgroundcolor:white;
}

/*Nav icons*/

nav ul li a img {
  border-radius: 5em;
  background-color: #F1F6FE;
  padding: .8em;
}

/* Banner */

.banner {
  position: relative;
  background: linear-gradient( to bottom, #f279ab, #ea6097, #de457e);
  width: 100%;
  height: 12em;
  margin-top: 1em;
  left: 0;
}

figure a img {
  position: absolute;
  width: 35px;
  left: 1.08em;
  bottom: 1em;
 }

h2 {
  position: absolute;
  top: .5em;
  left: 1em;
  font-size: 1.5em;
  font-family: 'Arvo', serif;
  font-weight: 700;
  color: var(--main-textcolor);
}

h3 {
  position: absolute;
  top: 1.6em;
  left: 1em;
  font-size: 1.5em;
  font-family: 'Arvo', serif;
  font-weight: 300;
  color: var(--main-textcolor);
}

/*catagory + slide*/

.catagory {
  position: relative;
  left: 1em;
  top: .5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  overflow: auto;
  list-style-type: none;
  text-align: center;
  margin-bottom: 3em;
}

.catagory a {
  text-decoration: none;
  color: black;
  font-family: 'Arvo', serif;
}

/*Normale Titel tekst*/

h4 {
  margin: 1em 1em .2em 1em;
  font-size: 1.125em;
  font-family: 'Arvo', serif;
}

/*Nu trending*/

.tussentekst {
  text-decoration: none;
  color: #00f;
  font-family: 'Arvo', serif;
  font-weight: 300;
  font-size: .875em;
}

.pijl {
  margin-left: 1em;
  margin-right: .2em;
  width: 11px;
  text-align: center;
}

.aanbevelingen {
  position: relative;
  left: 1em;
  top: .5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  overflow: auto;
  list-style-type: none;
  font-family: 'Arvo', serif;
  margin-bottom: 3em;
}

.aanbevelingen li a {
  text-decoration: none;
  color: black;
  font-family: 'Arvo', serif;
  font-weight: 700;
}

.aanbevelingen li a p {
  text-align: left;
  text-decoration: none;
  color: red;
  font-family: 'Arvo', serif;
  font-weight: 300;
}

.aanbevelingen li a img {
  width: 10em;
}

/*kortingen*/

.kortingen {
  position: relative;
  left: 1em;
  top: .5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  overflow: auto;
  list-style-type: none;
  text-align: center;
  margin-bottom: 3em;
}

.kortingen li a img {
  width: 14em;
}


/*Cadeaus sectie*/

.cadeaus {
  position: relative;
  left: 1em;
  top: .5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  overflow: auto;
  list-style-type: none;
  text-align: center;
  margin-bottom: 3em;
}

.cadeaus a img {
  width: 14em;
}

.cadeaus a {
  text-decoration: none;
  color: black;
  font-family: 'Arvo', serif;
  font-weight: 400;
}

